Repository matter-labs/zksync-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

fix: npm scripts cleanup
  package.json
Due: prettier --write

feat: add cspell
  .lintstagedrc.yml
  cspell-config/cspell-misc.txt
  cspell-config/cspell-zksync.txt
  cspell.json
  package-lock.json
  package.json
Due: prettier --write

fix: cleanup vscode settings
  .vscode/settings.json
Due: prettier --write

feat: add markdown configuration to project
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_report.md
  .github/pull_request_template.md
  .markdownlint-cli2.cjs
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docs/contract-interaction.md
  docs/transaction-info.md
  images/zksync-cli-banner.dark.png
  images/zksync-cli-banner.light.png
  package-lock.json
  package.json
  zksync-cli-banner.png
Due: prettier --write

chore: rm goerli
  src/data/chains.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

chore: rm goerli (#159)
  src/data/chains.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

chore: update package
  bun.lockb
Due: none

feat: implement husky in project
  .DS_Store
  .github/.DS_Store
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/secrets_scanner.yaml
  .husky/commit-msg
  .husky/install.mjs
  .husky/pre-commit
  package-lock.json
  package.json
  src/.DS_Store
  src/commands/.DS_Store
Due: prettier --write

chore: update gitignore
  .DS_Store
  .gitignore
Due: none

chore: add pre-commit husky
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write

fix: remove ethers v5 (#156)
  src/commands/create/groups/contracts.ts
  src/commands/create/groups/frontend.ts
  src/commands/create/groups/quickstart.ts
  src/commands/create/groups/scripting.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

chore: update versions
  package-lock.json
  package.json
Due: prettier --write

chore: remove ignored files
  .github/.DS_Store
  package-lock.json
  src/.DS_Store
  src/commands/.DS_Store
Due: prettier --write

chore: add back in package-lock
  .gitignore
  package-lock.json
Due: prettier --write

Create main.yml
  .github/workflows/main.yml
Due: prettier --write

chore: Implement husky (#160)
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/secrets_scanner.yaml
  .gitignore
  .husky/commit-msg
  .husky/install.mjs
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: add lint spelling to pr validation workflow
  .github/workflows/pr-validation.yml
Due: prettier --write

chore: add cspell to project
  .lintstagedrc.yml
  cspell-config/cspell-misc.txt
  cspell-config/cspell-zksync.txt
  cspell.json
  package-lock.json
  package.json
Due: prettier --write

chore: update cspell ignorePaths
  cspell-config/cspell-misc.txt
  cspell.json
  src/commands/create/index.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

fix: remove
  src/commands/create/index.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

chore: add cspell to project (#161)
  .github/workflows/pr-validation.yml
  .lintstagedrc.yml
  cspell-config/cspell-misc.txt
  cspell-config/cspell-zksync.txt
  cspell.json
  package-lock.json
  package.json
Due: prettier --write

chore: fix lint errors
  .husky/install.mjs
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/commands/bridge/deposit.ts
  src/commands/bridge/withdraw-finalize.ts
  src/commands/bridge/withdraw.ts
  src/commands/contract/utils/proxy.ts
  src/commands/create/utils.ts
  src/commands/dev/config.ts
  src/commands/dev/modules/Module.ts
  src/program.ts
  src/utils/validators.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

fix: update zkcli-block-explorer dependency
  package-lock.json
  package.json
Due: prettier --write

fix: update zkcli-block-explorer dependency (#165)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  18/e855c0d9459f46552a796a498fe7d43b00cca9
Due: none

fix: parse array args correctly
  src/commands/contract/encode.ts
  src/commands/contract/read.ts
  src/commands/contract/utils/formatters.ts
  src/commands/contract/write.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

chore: add prettier and eslint (#162)
  .husky/install.mjs
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/commands/bridge/deposit.ts
  src/commands/bridge/withdraw-finalize.ts
  src/commands/bridge/withdraw.ts
  src/commands/contract/utils/proxy.ts
  src/commands/create/utils.ts
  src/commands/dev/config.ts
  src/commands/dev/modules/Module.ts
  src/program.ts
  src/utils/validators.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

fix: parse array args correctly (#166)
  src/commands/contract/encode.ts
  src/commands/contract/read.ts
  src/commands/contract/utils/formatters.ts
  src/commands/contract/write.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

chore: bump github actions (#147)
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
Due: prettier --write

chore: remove old eslintrc
  .eslintrc
Due: none

chore: update prettier and eslint
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --max-warnings=0

chore: format file
  src/commands/contract/common/options.ts
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

chore: handle tsconfig error for tests
  tests/tsconfig.json
Due: prettier --write

chore: update lintstaged
  .lintstagedrc.yml
Due: prettier --write

chore: update scripts
  .github/CODEOWNERS
  .github/workflows/pr-validation.yml
  package.json
Due: prettier --write

chore: comment out markdownlint disable
  .github/CODEOWNERS
Due: none

chore: update tsconfig.json
  tests/tsconfig.json
  tests/utils/formatters.spec.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, eslint --max-warnings=0, tsc-files --noEmit

chore: add editorconfig
  .editorconfig
  .prettierrc.json
  .vscode/settings.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,yml})
  eslint --max-warnings=0: any of: *.{js,ts,vue}
  tsc-files --noEmit: any of: *.ts
